Follow me:
<div id="stalker">
  {% if site.data.theme.social.github %}
  <a title="{{ site.data.theme.social.github }} on Github" href="https://github.com/{{ site.data.theme.social.github }}">
    <i class="fa fa-github-square"></i>
  </a>
  {% endif %}

  {% if site.data.theme.social.bitbucket %}
  <a title="{{ site.data.theme.social.bitbucket }} on Bitbucket" href="https://bitbucket.com/{{ site.data.theme.social.bitbucket }}/">
    <i class="fa fa-bitbucket-square"></i>
  </a>
  {% endif %}

  {% if site.data.theme.social.twitter %}
  <a title="{{ site.data.theme.social.twitter }} on Twitter" href="https://twitter.com/{{ site.data.theme.social.twitter }}">
    <i class="fa fa-twitter-square"></i>
  </a>
  {% endif %}

  {% if site.data.theme.social.facebook %}
  <a title="{{ site.data.theme.name }} on Facebook" href="https://facebook.com/{{ site.data.theme.social.facebook }}">
    <i class="fa fa-facebook-square"></i>
  </a>
  {% endif %}

  {% if site.data.theme.show_atom_feed %}
  <a title="Atom feed" id="atom" href="/atom.xml">
    <i class="fa fa-rss-square"></i>
  </a>
  {% endif %}
</div>
